@use "../../sass/variables" as *;

.login-form {
    flex: 1;
    background-color: $color-background;
    display: flex;
    justify-content: center;

    &__container {
        margin-top: 48px;
        padding: 32px;
        background-color: #fff;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__icon {
        $icon-size: 16px;
        width: $icon-size;
        height: $icon-size;
        align-self: center;
    }

    &__title {
        align-self: center;
        font-size: 1.5em;
        font-weight: bold;
        margin-block-end: 0.63em;
    }

    &__submit {
        text-decoration: underline;
        border: none;
    }
}

@media (max-width: $mobile-screen) {
    .login-form {

        align-items: center;

        &__container {
            width: 100%;
            margin: 0;

            & input[type="text"], input[type="password"] {
                width: 100%;
            }
        }
    }
}