@use "../../sass/variables" as *;

.account-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;

    &__card {
        width: 80%;
        background-color: #fff;
        padding: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 0.15rem;
        }

        &__amount {
            margin: 0;
            font-size: 2.5rem;
            font-weight: bold;
        }

        &__title, &__amount-description {
            margin: 0;
            padding: 0;
            font-size: 1rem;
            font-weight: normal;
        }
    }
}

@media (max-width: $mobile-screen) {
    .account-list__card {
        flex-direction: column;
        align-items: baseline;
        gap: 1rem;

        &__link {
            width: 100%;
        }

        &__btn {
            width: 100%;
        }
    }
}