@use "../../sass/variables" as *;

.feature-card {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
        $icon-size: 151px;
        width: $icon-size;
        height: $icon-size;
        border: solid 10px $color-primary;
        border-radius: 100px;
    }

    &__title {
        text-align: center;
        font-size: 1.25rem;
        font-weight: bold;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }

    &__content {
        text-align: center;
        margin-block-start: 1em;
        margin-block-end: 1em;
    }
}

.features-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: $mobile-screen) {
    .features-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
